<%- include ('./layout.ejs') %>

    <div class="app">
        <div class="home">
            <div class="intro-header">
                <h2>Welcome to the dashboard, <%- user.name %></h2>
            </div>
        </div>           
        <div>
            <a href="/register-player">Register a Player</a>
        </div>
        <div>
            <a href="/attendance">Attendance of Players</a>
        </div>
        <table class="content-table">
            <thead>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Current Month</th>
                <th>Fee Status</th>
            </thead>   
            <tbody>
                <% for (player of players) { %>
                    <% if (player) { %>
                    <tr>
                        <td><%= player.name %></td>
                        <td><%= player.email %></td>
                        <td><%= player.dueMonth %></td>
                        <td><%= player.feeStatus %></td>
                        <!-- <td onclick="playVideo(`<%= player.videoId %>`)"><u style="color: red;"><%= player.url %></u></a></td> -->
                    </tr>
                    <% } else { %>
                            <h3>Loading.....</h3>
                    <%}%>
                <% } %>
            </tbody>
        </table>
          <div>
            <a href="/logout">Logout</a>
        </div>           
                            
<%- include ('./footer.ejs') %>        
                    